@media screen and (min-width:481px){
	body{
		background: #ddd;
	}
	.mc{
		width: 1200px;
		margin: 0 auto;
		background: #ddd;
	}
	.answers{
		margin: 0 auto;
		text-align: center;
	}
}
@media screen and (max-width:480px){
	
}